@import "entry-detail-card.css";


.entry-versus-statistics{
    position: relative;
    padding : 20px 0;
}

.h-txt-group{
    margin-bottom: 15px;
}

.txt-h{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.txt-e{
    color : #7D7D7D;
    font-size: 16px;
    margin-bottom: 15px;
}
