.main-header {
    --right-nav-group-width : 150px;
}

.main-header{
    position: sticky;
    top : 0;
    left : 0;
    width: 100%;
    height: var(--main-header-height);
    padding-right : var(--right-nav-group-width);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap : 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;

}

.header-title {
    color : #FFF;
    position: relative;
    font-size: 20px;
    padding : 0 24px 0 40px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--signature-color);
    display: flex;
    align-items: center;
    font-weight: 600;
}

.header-title:after{
    content : '⚔️';
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top : 50%;
    left : 8px;
    transform : translateY(-50%);
}

.center-nav-group{
    display: flex;
    align-items: center;
    gap : 15px;
    width: fit-content;
    height: 100%;
}

.center-nav-group .nav{
    color : #333;
    font-weight: 500;
    font-size: 16px;
}

.right-nav-group{
    width: fit-content;
    position: absolute;
    top : 0;
    right : 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-nav-group .move-login-page{
    padding-left : 30px;
    background-image: url("https://vsplay-pub.s3.ap-northeast-2.amazonaws.com/box-arrow-in-right.svg");
    background-position: 0 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    font-size: 14px;
    color : #333;
}


.right-nav-group .btn-logout{
    padding-left : 30px;
    background-image: url("https://vsplay-pub.s3.ap-northeast-2.amazonaws.com/box-arrow-left.svg");
    background-position: 0 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    font-size: 14px;
    color : #FF8A8A;
}

