<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layouts/base-layout.html}">

<head>
    <link rel="stylesheet" th:href="@{'/notice/css/notice.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
</head>
<th:block layout:fragment="Content">
    <body>
        <div id="notice" class="notice">
            <div class="notice-top">
                <i class="txt-i">📢 피드</i>
            </div>

            <div id="notice-cards" class="notice-cards">
            </div>
        </div>
    </body>

    <script type="module" th:src="@{'/notice/js/notice.js?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"></script>
</th:block>
</html>