<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layouts/base-layout.html}">

<head>
    <link rel="stylesheet" th:href="@{'/member/login/css/login.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
</head>
<th:block layout:fragment="Content">
    <body>
        <div id="login" class="login">
            <div class="login-icon"></div>
            <div class="desc">
                <p class="d-a">안녕하세요. VsMatch 입니다.</p>
                <p class="d-b"><b>대결주제를 생성하고 공유</b>하기 위해서는<br><b>로그인</b>이 필요해요</p>
                <p class="d-b">아이디와 비밀번호로 <b>간편하게 가입</b>하고,<br>개성있는 대결주제를 만들어 보세요</p>
            </div>
            <div class="member-login-form">
                <div class="form-item member-id">
                    <input placeholder="아이디" type="text"/>
                </div>
                <div class="form-item password">
                    <input placeholder="비밀번호" type="password"/>
                </div>
            </div>

            <div id="message-box" class="message-box">
                <p id="alert-message" class="alert-message"></p>
            </div>

            <div class="btn-group">
                <button type="button" class="btn-login">로그인</button>
                <button type="button" class="btn-register">계정생성</button>
            </div>
        </div>


    </body>

</th:block>
</html>