<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:replace="~{global/fragments/config-fragment :: configFragment}"></th:block>
  <link rel="stylesheet" th:href="@{'/global/layouts/css/base-layout.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
  <title>Picksy</title>
</head>

<body>
    <!--header fragment-->
    <th:block th:replace="~{global/fragments/header-fragment :: headerFragment}"></th:block>

    <div id="layout-container" class="layout-container">
        <div class="wrapper">
            <!--content-->
            <th:block layout:fragment="Content"></th:block>
        </div>
        <div id="help-section" class="help-section">
            <button id="btn-inquiry" class="btn-inquiry" type="button"></button>
        </div>
    </div>
</body>

</html>