<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:replace="~{global/fragments/config-fragment :: configFragment}"></th:block>
  <link rel="stylesheet" th:href="@{'/global/layouts/css/topic-play-layout.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
  <title>VS 엔트리</title>
</head>

<body>
    <div id="layout-container" class="layout-container">
        <div class="wrapper">
            <!--content-->
            <th:block layout:fragment="Content"></th:block>
        </div>
    </div>
</body>

</html>