<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layouts/topic-play-layout.html}">

<head>
    <link rel="stylesheet" th:href="@{'/topic/play/css/topic-play.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
</head>
<th:block layout:fragment="Content">
    <body>
        <div id="topic-play" class="topic-play">
            <div id="topic-header" class="topic-header">
                <button id="btn-back" class="btn-back" type="button"></button>
                <p id="topic-title" class="topic-title">대결 주제 제목이 오는 영역입니다.</p>
                <p id="current-tournament" class="current-tournament"></p>
            </div>

            <div id="match-stage" class="match-stage"></div>
        </div>
    </body>
    <script type="module" th:src="@{'/topic/play/js/topic-play.js?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"></script>
</th:block>
</html>