<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layouts/base-layout.html}">

<head>
    <link rel="stylesheet" th:href="@{'/statistics/topic/css/topic-statistics.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
</head>
<th:block layout:fragment="Content">
    <body>
        <div id="topic-statistics" class="topic-statistics">
            <div class="topic-stats-group">
                <p id="topic-title" class="topic-title">대결 주제 제목</p>
                <p id="total-matches" class="total-matches"></p>
            </div>

            <div class="entries-stats-group">
                <div class="entries-stats-filter">
                    <div id="filter-item-count" class="filter-item-count">
                        <button id="item-per-page" class="item-per-page" type="button" value="10">10개</button>
                        <p class="page-count-index">씩 보기</p>
                        <ul id="item-count-list" class="item-count-list">
                            <li class="item-count" data-count="10">10개</li>
                            <li class="item-count" data-count="20">20개</li>
                            <li class="item-count" data-count="30">30개</li>
                        </ul>
                    </div>
                </div>
                <table id="entries-stats-table" class="entries-stats-table">
                    <thead>
                        <tr>
                            <th class="rank order">순위</th>
                            <th class="entry-thumb">썸네일</th>
                            <th>엔트리 명</th>
                            <th class="highest-tournament">최고<br>토너먼트</th>
                            <th class="win-rate order">승률</th>
                        </tr>
                    </thead>
                    <tbody id="entries-stats-tbody" class="entries-stats-tbody">
                        <tr style="--win-rate : 55%; --win-rate-text : '55%'">
                            <td class="rank">1</td>
                            <td class="entry-thumb"><img src="" alt=""></td>
                            <td class="entry-name">날아가는 오릭스</td>
                            <td class="highest-tournament">8강</td>
                            <td class="win-rate">
                                <div class="win-rate-bar"></div>
                            </td>
                        </tr>

                        <tr style="--win-rate : 33%; --win-rate-text : '33%'">
                            <td class="rank">2</td>
                            <td class="entry-thumb"><img src="" alt=""></td>
                            <td class="entry-name">날아가는 오릭스</td>
                            <td class="highest-tournament">8강</td>
                            <td class="win-rate">
                                <div class="win-rate-bar"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script type="module" th:src="@{'/statistics/topic/js/topic-statistics.js?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"></script>
</th:block>
</html>