.topic-search-filter{
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap : 16px;
    justify-content: flex-start;
}

.filter-radio-group{
    display: flex;
    align-items: center;
    width: fit-content;
}

.radio-item input[type="radio"]{
    display: none;
}

.radio-item label.lbl-radio{
    display: inline-block;
    padding: 8px 14px;
    border-top: 1px solid var(--signature-color);
    border-bottom: 1px solid var(--signature-color);
    border-right: 1px solid var(--signature-color);
    font-weight: 500;
    cursor: pointer;
    background-color: #FFF;
}

.radio-item:last-child label.lbl-radio {
    border-radius: 0 6px 6px 0;
}

.radio-item:first-child label.lbl-radio {
    border-radius: 6px 0 0 6px;
}

.radio-item:last-child label.lbl-radio {
    border-radius: 0 6px 6px 0;
}

.radio-item input[type="radio"]:checked + label.lbl-radio {
    color: #FFF;
    background-color: var(--signature-color);
    font-weight: 600;
}

.filter-keyword{
    display: flex;
    align-items: center;
}

.keyword-search{
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 6px 0 0 6px;
    outline: 0;
    border : 1px solid var(--signature-color);
    width: 280px;
    height: 40px;
    box-sizing: border-box;
}

.btn-search-topic{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 0 6px 6px 0;
    outline: 0;
    background-color: var(--signature-color);
    border: 1px solid var(--signature-color);
    width: max-content;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    margin: 0;
}