<!DOCTYPE html>
<html lang="ko" th:fragment="headerFragment">

<head>
    <link rel="stylesheet" th:href="@{'/global/fragments/css/header-fragment.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
</head>

<header id="main-header" class="main-header">
    <span id="header-title" class="header-title">VsMatch</span>
    <div class="center-nav-group">
        <a class="nav" href="/">대결주제</a>
        <a class="nav">대결주제 만들기</a>
    </div>
    <div class="right-nav-group">
        <a class="move-login-page" href="/login">로그인</a>
    </div>
</header>

</html>