<!DOCTYPE html>
<html lang="ko" th:fragment="headerFragment">

<head>
    <link rel="stylesheet" th:href="@{'/global/fragments/header/css/header-fragment.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
    <script type="module" th:src="@{'/global/fragments/header/js/header-fragment.js?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"></script>
</head>

<header id="main-header" class="main-header">
    <span id="header-title" class="header-title">VsMatch</span>
    <div class="center-nav-group">
        <a class="nav" href="/">대결주제</a>
        <a class="nav" href="/topic/edit/create">대결주제 만들기</a>
    </div>

    <div id="right-nav-group" class="right-nav-group">
        <a id="move-login-page" class="move-login-page" href="/login">로그인</a>
    </div>
</header>

</html>