<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layouts/base-layout.html}">

<head>
    <link rel="stylesheet" th:href="@{'/member/register/css/register.css?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"/>
</head>
<th:block layout:fragment="Content">
    <body>
        <div id="register" class="register">
            <div class="inner-register-box form-box">
                <div class="register-icon"></div>
                <div class="desc">
                    <p class="d-a">안녕하세요. VsMatch 입니다.</p>
                    <p class="d-b"><b>아이디와 비밀번호</b>로<br>간편하게 <b>계정을 생성</b>하고</p>
                    <p class="d-b">개성있는 대결주제를 만들어 보세요</p>
                </div>

                <div class="member-register-form">
                    <div class="form-item register-id">
                        <input id="register-id" class="register-id" type="text" placeholder="아이디(6 ~ 20자)">
                    </div>

                    <div class="form-item register-name">
                        <input id="register-name" class="register-name" type="text" placeholder="이름(닉네임) 최대 12자">
                    </div>

                    <div class="form-item password">
                        <input id="password" class="password" type="password" placeholder="비밀번호">
                    </div>

                    <div class="form-item password-confirm">
                        <input id="password-confirm" class="password-confirm" type="password" placeholder="비밀번호 재입력">
                    </div>
                </div>

                <div id="message-box" class="message-box">
                    <p id="alert-message" class="alert-message"></p>
                </div>

                <div class="btn-group">
                    <button id="btn-register" class="btn-register" type="button" ></button>
                </div>

                <div class="for-member">
                    <p class="for-member-message">가입한 계정이 있나요?</p>
                    <button id="btn-back-to-login" class="btn-back-to-login" type="button"></button>
                </div>
            </div>

            <div class="inner-register-box result-box hide">
                <div class="result-img"></div>
                <p class="result-msg">계정 생성이 완료되었습니다.</p>
                <a class="move-to-login" href="/login">로그인</a>
            </div>
        </div>
    </body>
    <script type="module" th:src="@{'/member/register/js/register.js?version=' + ${#calendars.format(#calendars.createNow(), 'yyyyMMddHHss')}}"></script>
</th:block>
</html>