:root{
    --main-header-height : 60px;
    --layout-wrapper-width : 1280px;
    --signature-color : #CDC1FF;
}

html, body{
    height : 100%;
    margin : 0;
}

.layout-container{
    width: 100%;
}

.layout-container > .wrapper{
    width: 100%;
    max-width: var(--layout-wrapper-width);
    margin : 0 auto;
}
