:root{
    --main-header-height : 60px;
    --layout-wrapper-width : 1440px;
    --signature-color : #CDC1FF;
    --wrapper-min-width : 1240px;
}

html, body{
    height : 100%;
    margin : 0;
    background-color : #F5F5F7;
}

.statistics-layout-container{
    width: 100%;
}

.statistics-layout-container > .wrapper{
    width: 100%;
    margin : 0;
}

.scroll-block{
    overflow: hidden;
}

/* help-section */
.help-section{
    position: fixed;
    bottom : 50px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 10px;
}

.help-section button{
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding : 0;
    margin : 0;
}

.help-section .btn-inquiry{
    background-color: #898AC4;
    background-image: url("https://vsplay-pub.s3.ap-northeast-2.amazonaws.com/ico-inquiry.svg");

}