@import "./l-topic-create.css";
@import "./r-entry-create.css";

input[type="file"] {
    display: none;
}

.layout-container{
    height: calc( 100% - var(--main-header-height));
}

.wrapper{
    height: 100%;
}

.topic-create{
    height: 100%;
    display: flex;
    gap : 10px;
    padding : 10px 10px 80px 10px;
    box-sizing: border-box;
    position: relative;
}

.separate-section{
    max-height: 100%;
    overflow-y: auto;
    padding : 20px 15px;
    border-radius: 6px;
    background-color: #FFF;
}

.separate-section .section-header{
    color : #333;
    font-size: 24px;
    font-weight: 600;
}

.bottom-btn-group{
    position: absolute;
    width: 100%;
    height: 80px;
    bottom : 0;
    left : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 25px;
}

.bottom-btn-group button{
    padding : 6px 12px;
    border-radius: 4px;
    color : #FFF;
    font-size: 24px;
}

.bottom-btn-group .btn-save{
    background-color: #4CAF50;
}

.bottom-btn-group .btn-cancel{
    background-color: #FF8A8A;
}
