.notice-filter{
    margin-bottom : 10px;
    display: flex;
    gap : 10px;
}

.notice-filter .filter-item{
}

.notice-type-select{
    width: max-content;
    max-width: 100px;
    position: relative;
}

.notice-type-select .selected-notice-type{
    position: relative;
    font-size: 14px;
    font-weight: bold;
    padding : 6px 24px 6px 14px;
    border-radius: 6px;
    background-color: #FFF;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.notice-type-select .selected-notice-type:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top : 50%;
    right: 5px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("https://vsplay-pub.s3.ap-northeast-2.amazonaws.com/caret-down-fill.svg");
}

.notice-type-select .notice-type-select-items{
    display: flex;
    flex-direction: column;
    gap : 5px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom : 0;
    left: 0;
    transform: translate(0, 105%);
    padding: 4px;
    border-radius: 6px;
    background-color: #FFF;
    z-index: 100;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    cursor: pointer;
}

.notice-type-select.active .notice-type-select-items{
    opacity: 1;
    visibility: visible;
}

.notice-type-select .notice-type-select-items .notice-type-select-item{
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    padding : 4px 6px;

}

.notice-type-select .notice-type-select-items .notice-type-select-item:hover{
    background-color: var(--signature-color);
    color :#FFF;
}

/* notice-keyword */
.notice-keyword{
    font-size: 14px;
    padding : 6px 14px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    min-width: 120px;
    border: none;
}